<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <form #editUserForm='ngForm' (ngSubmit)="editUser()">
        <div class="card signup-form">
            <div class="card-header">
                <ion-img style="height: 400px" src="{{ url + 'obtener-imagen-usuario/' + user.image }}" alt="..."
                class="card-img-top img-card" *ngIf="user.image"></ion-img>
                <ion-img style="height: 400px" src="/assets/images/perfil.jpeg" alt="..." width="100" height="200"
                class="card-img-top img-card" *ngIf="!user.image"></ion-img>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" class="form-control"
                        id="nombre" placeholder="Ingrese su nombre" />
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido"
                        class="form-control" id="apellido" placeholder="Ingrese su apellido" />
                </div>
                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input type="text" name="Nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control"
                        id="nick" placeholder="Ingrese su nick" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="Email" #email="ngModel" [(ngModel)]="user.email" class="form-control"
                        id="email" placeholder="Ingrese su email" />
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Actualizar</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01 image"
                                aria-describedby="inputGroupFileAddon01" (change)='fileChangeEvent($event)'>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button style="background-color: #002eb8" type="submit" class="btn btn-success col-12">Editar</button>
            </div>
        </div>
    </form>
</ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/principal">
                    <ion-icon color="light" name="home"></ion-icon>
                    <ion-label color="light">Principal</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/perfil">
                    <ion-icon color="light" name="person"></ion-icon>
                    <ion-label color="light">Perfil</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/home">
                    <ion-icon color="light" name="log-out"></ion-icon>
                    <ion-label color="light">Cerrar Sesion</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>