<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            Documentales
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-group">
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H3LOPhRq3Es"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">Olympia</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g_of3yRca68"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">Maradona</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aGAmwcUvOLw"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">Muhammad Ali, la leyenda del boxeo</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Er98ka-KA3w"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">GONCHI Gonzalo Rodriguez Piloto</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0LXBtH0rRww"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">Como un sueño Zinedine Zidane</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OuWaE8UDKe8"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">El mayor fraude del ciclismo Lance Armstrong</h5>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s2G6C6Wom-4"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 style="color:#fc7b02" class="card-title">Documental de Allen <br> "The Answer" Iverson</h5>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button href="/principal">
                    <ion-icon color="secondary" name="home"></ion-icon>
                    <ion-label color="secondary">Inicio</ion-label>
                </ion-tab-button>

                <ion-tab-button href="/perfil">
                    <ion-icon color="secondary" name="person"></ion-icon>
                    <ion-label color="secondary">Perfil</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/entretenimiento">
                    <ion-icon color="secondary" name="ios-desktop"></ion-icon>
                    <ion-label color="secondary">Entretenimiento</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>