h5{
    font-family: fantasy;
    font-size: 30px;
}

a{
    background-color: #fc7b02;
    font-size: 20px;
    border-color: #fc7b02;
}
.label{
    font-size: 32px;
    font-family: fantasy;
    color: black;
    text-align: center;
}
.title{
    font-family: fantasy;
    font-size: 30px;
    color: #002eb8;
    text-align: center;
}