<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            Series
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-group">
        <ion-card>
            <div class="card">
                <ion-img style="height: 400px" class="imagen" src="/assets/serieLoser.jpeg" class="card-img-top">
                </ion-img>
                <div class="card-body">
                    <h5 style="color: black" class="card-title">Los perdedores</h5>
                    <a href="https://poseidonhd.co/tvshows/losers/" class="btn btn-primary">Ver Pelicula</a>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <ion-img style="height: 400px" class="imagen" src="/assets/serieFight.jpeg" class="card-img-top">
                </ion-img>
                <div class="card-body">
                    <h5 style="color: black" class="card-title">FIGHTWORLD</h5>
                    <a href="https://www.repelisplus.tv/ver/desafiando-gigantes" class="btn btn-primary">Ver
                        Pelicula</a>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <ion-img style="height: 400px" class="imagen" src="/assets/serieFormula.jpeg" class="card-img-top">
                </ion-img>
                <div class="card-body">
                    <h5 style="color: black" class="card-title">Formula 1</h5>
                    <a href="https://series24.to/serie/formula-1-la-emocion-de-un-grand-prix/"
                        class="btn btn-primary">Ver
                        Pelicula</a>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="card">
                <ion-img style="height: 400px" class="imagen" src="/assets/serieFirst.jpeg" class="card-img-top">
                </ion-img>
                <div class="card-body">
                    <h5 style="color: black" class="card-title">First Team</h5>
                    <a href="https://movieszy.com/es/series/first-team-juventus/" class="btn btn-primary">Ver
                        Pelicula</a>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/principal">
                    <ion-icon color="secondary" name="home"></ion-icon>
                    <ion-label color="secondary">Inicio</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/perfil">
                    <ion-icon color="secondary" name="person"></ion-icon>
                    <ion-label color="secondary">Perfil</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/entretenimiento">
                    <ion-icon color="secondary" name="ios-desktop"></ion-icon>
                    <ion-label color="secondary">Entretenimiento</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>