<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Cardio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="align-content: center">
  <ion-card>
    <ion-title class="title">Principiante</ion-title>
    <br>
   <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wKBYBuqJlk8" allowfullscreen></iframe>
</div>
    <!--video-->
  </ion-card>
  <ion-card>
    <br>
    <ion-title class="title">Intermedio</ion-title>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y-f7rI9oviY" allowfullscreen></iframe>
    </div>
    <!--video-->
  </ion-card>
  <ion-card>
    <br>
    <ion-title class="title">Avanzado</ion-title>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cWnxQJTm40E" allowfullscreen></iframe>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button href="/principal">
          <ion-icon color="light" name="home"></ion-icon>
          <ion-label color="light">Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button href="/perfil">
          <ion-icon color="light" name="person"></ion-icon>
          <ion-label color="light">Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/list">
          <ion-icon color="light" name="body"></ion-icon>
          <ion-label color="light">Ejercicios</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>