<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Dieta 3
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" style="color: #10dc60">Dieta 3</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ion-img src="/assets/semana3.jpeg"></ion-img>
      <br>
      <ion-title class="title">Dieta Paleo</ion-title>
      <br>
      <p>Otra variante al nombre de esta alimentación es la dieta del hombre de las cavernas. Fue inventada por el
        nutriólogo
        estadounidense Loren Cordain. Su alimentación está basada en aquella que fue normal para nuestros antepasados y
        ellos,
        como es bien sabido, obtenían alimentos mediante la caza y la recolección de todos los posibles productos de
        origen
        vegetal.</p>
      <ion-title class="title">La esencia de la dieta</ion-title>
      <br>
      <p>Al mantener dicha alimentación, se tiene que hacer hincapié en el consumo de carne de caza o animales
        domésticos de
        engorde natural, también todo tipo de verduras y frutas, nueces, miel, bayas, hongos y pescado. Al mismo tiempo,
        se
        tienen que rechazar los productos creados mediante algún tipo de producción humana, como lo son los lácteos,
        cereales,
        azúcar, sal, aceites refinados, diferentes tipos de dulces, entre otros. De acuerdo con la visión de Loren,
        precisamente estos productos son las causas de los problemas de salud, así contradicen la estructura genética
        del ser
        humano. Los estudios realizados acerca de esta cuestión confirman la eficacia de dieta paleo para bajar de peso.
      </p>
      <ion-title class="title1">Posibles efectos negativos</ion-title>
      <br>
      <p>El rechazo a los productos lácteos, legumbres y cereales puede dar lugar a la escasez de calcio, hierro,
        magnesio, y
        un exceso de carne y grasas saturadas puede causar problemas en el sistema cardiovascular. Esta teoría con tal
        estilo
        de alimentación es una cuestión bastante discutible. Por eso es adecuada para seguir como dieta a corto plazo,
        sin
        embargo, no se recomienda llevar como estilo de vida.</p>
    </div>
    <div class="card-body">
      <ion-button routerLink="/dietaDos" color="success">Regresar</ion-button>
      <ion-button routerLink="/dietaCuatro" color="success">Siguiente</ion-button>
    </div>
  </div>

</ion-content>
<!--
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="success" name="home"></ion-icon>
          <ion-label color="success">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="success" name="person"></ion-icon>
          <ion-label color="success">Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="success" name="log-out"></ion-icon>
          <ion-label color="success">Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>-->