<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dieta 5
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" style="color: #10dc60">Dieta 5</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ion-img src="/assets/semana5.jpeg"></ion-img>
      <br>
      <ion-title class="title">Dieta Ornish</ion-title>
      <br>
      <p>Dean Ornish es un profesor de la Universidad de California, fundador de la medicina preventiva, cardiólogo y
        nutriólogo personal de Bill Clinton. Su dieta es baja en grasas y alta en carbohidratos, esta no solo ayuda a
        adelgazar, sino también ofrece efectos positivos en el sistema cardiovascular, reduciendo la presión sanguínea y
        el
        nivel de colesterol.</p>
      <ion-title class="title">La esencia de la dieta</ion-title>
      <br>
      <p>De acuerdo con tal método, la clave consiste en que la grasa debe de ocupar menos del 10 por ciento en la
        ración.
        Desde el punto de vista de indicadores habituales para muchas personas, la proporción de carbohidratos, grasas y
        proteínas recomendada por Ornish es bastante polémica: las grasas, como ya se había indicado, ocupan el 10 por
        ciento,
        las proteínas de 15 a 20 por ciento y la cantidad adecuada de carbohidratos es de 70 a 75 por ciento. Se excluye
        el
        alcohol, todas las fuentes de cafeína, aguacate, aceite y todo tipo de nueces y dulces. En cualquier cantidad se
        puede
        comer frijol y legumbres, cereales, frutas y verduras. Se restringen los productos de origen animal, pero aquí
        hay una
        excepción, supongamos que se puede comer un poco de carne de pollo, sin embargo, claramente se tiene que dar
        preferencia a un tipo de carne con poca grasa.
        La comunidad médica recomienda la dieta de Ornish y reconoce todos los efectos positivos que influyen en el
        organismo.
        La eficacia de la dieta es confirmada por las propias observaciones de Dean, publicadas en la revista Journal of
        the
        American Medical Association, tanto como por investigaciones ajenas, por ejemplo, la validación de los
        científicos de
        la Universidad Stanford en el 2007.</p>
      <ion-title class="title1">Posibles efectos negativos</ion-title>
      <br>
      <p>Como en el caso de cualquier dieta, dicho plan de alimentación también ha sido objeto de dudas y escepticismo.
        Por
        ejemplo, al organizar de una manera incorrecta la dieta, se puede provocar un déficit de proteínas, vitamina B12
        y
        otras sustancias beneficiosas. De todos modos, la práctica de más de 40 años de tratamiento dietético ha
        demostrado
        que el estilo de vida formado por Ornish es efectivo y beneficioso.</p>
    </div>
    <div class="card-body">
      <ion-button routerLink="/dietaCuatro" color="success">Regresar</ion-button>
    </div>
  </div>

</ion-content>

<!--
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="success" name="home"></ion-icon>
          <ion-label color="success">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="success" name="person"></ion-icon>
          <ion-label color="success">Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="success" name="log-out"></ion-icon>
          <ion-label color="success">Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>-->