<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            Peliculas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-group">
    <ion-card> 
            <div class="card">
                <ion-img style="height: 400px" class="imagen" src="/assets/peliculaAmateur.jpeg" class="card-img-top">
                </ion-img>
                <div class="card-body">
                    <h5 style="color: black" class="card-title">Amateur</h5>
                    <a href="https://www.repelisplus.tv/ver/amateur" class="btn btn-primary">Ver Pelicula</a>
                </div>
            </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaGigantes.png" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Juego de Gigantes</h5>
                <a href="https://www.repelisplus.tv/ver/desafiando-gigantes" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaRonaldo.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Ronaldo</h5>
                <a href="https://www.repelisplus.tv/ver/ronaldo" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaInvictus.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Invictus</h5>
                <a href="https://www.repelisplus.tv/ver/invictus" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaMoney.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">El Juego de la Fortuna</h5>
                <a href="https://www.repelisplus.tv/ver/el-juego-de-la-fortuna" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/pelicula42.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">42</h5>
                <a href="https://www.repelisplus.tv/ver/42-2/" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaFerrari.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Ferrari</h5>
                <a href="https://www.repelisplus.tv/ver/ferrari-race-to-immortality-b/" class="btn btn-primary">Ver
                    Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaMessi.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Messi</h5>
                <a href="https://www.repelisplus.tv/ver/messi/" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaRockyB.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Rocky Balboa</h5>
                <a href="https://www.repelisplus.tv/ver/rocky-balboa/" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>
    
    <ion-card>
        <div class="card">
            <ion-img style="height: 400px" class="imagen" src="/assets/peliculaRocky.jpeg" class="card-img-top">
            </ion-img>
            <div class="card-body">
                <h5 style="color: black" class="card-title">Rocky I</h5>
                <a href="https://www.repelisplus.tv/ver/rocky/" class="btn btn-primary">Ver Pelicula</a>
            </div>
        </div>
    </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/principal">
                    <ion-icon color="secondary" name="home"></ion-icon>
                    <ion-label color="secondary">Inicio</ion-label>
                </ion-tab-button>

                <ion-tab-button routerLink="/perfil">
                    <ion-icon color="secondary" name="person"></ion-icon>
                    <ion-label color="secondary" >Perfil</ion-label>
                  </ion-tab-button>

                <ion-tab-button routerLink="/entretenimiento">
                    <ion-icon color="secondary" name="ios-desktop"></ion-icon>
                    <ion-label color="secondary" >Entretenimiento</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>