<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/login1.png"></ion-img>
  <div class="container-fluid">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="card login-form">
        <hr>
        <div class="card-body">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
              id="exampleInputPassword1" placeholder="Password" />
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-success col-12">Iniciar</button>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/register">
          <ion-icon name="person-add"></ion-icon>
          <ion-label>Registrarse</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/login">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Iniciar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>