<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Resultados
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="card border-0">
    <div class="card-title p-3">
      <div class="titulo">
        <h2>Aquí puedes ver y publicar resultados de tus deportes</h2>
        <button type="button" class="btn btn-warning col-12" data-toggle="modal" data-target="#modalAddResultados">
          Agregar Resultados
        </button>
      </div>
    </div>
    <div class="card-body p-3">
      <div class="row text-center card-group mx-0 px-0">
        <div class="col mx- px-0">
          <div class="card">
            <img src="./../../../assets/img/rmj.jpg" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Resumen Mercado fichajes</h5>
              <p class="card-text">Griezmann rumbo al Barça y Hazard más
                cerca del Madrid</p>
              <a class="btn btn-info"
                href="https://www.marca.com/futbol/mercado-fichajes/2019/05/10/5cd51b15268e3e91488b45c8.html"
                target="blank">Ir a noticia</a>
            </div>
          </div>
        </div>
        <div class="col mx-0 px-0">
          <div class="card">
            <img src="./../../../assets/img/mfLuh.jpg" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mercado fichajes</h5>
              <p class="card-text">La última hora de los movimientos y rumores del
                fútbol, en directo</p>
              <a href="#" class="btn btn-info" href="https://es.uefa.com/uefachampionsleague/news/newsid=2603870.html"
                target="blank">Ir a noticia</a>
            </div>
          </div>
        </div>
        <div class="col mx-0 px-0">
          <div class="card">
            <img src="./../../../assets/img/erfe.jpg" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inhala... Exhala...</h5>
              <p class="card-text">España da un respiro al fútbol europeo - UEFA Champions League</p>
              <a href="#" class="btn btn-info" href="https://es.uefa.com/uefachampionsleague/news/newsid=2603870.html"
                target="blank">Ir a noticia</a>
            </div>
          </div>
        </div>

        <div class="col mx-0 px-0">
          <div class="card">
            <img src="./../../../assets/img/publiB.jpeg" height="200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Basquetbol</h5>
              <p class="card-text">Gregg Popovich, con el reto de armar a contrarreloj su equipo</p>
              <a href="#" class="btn btn-info" href="https://www.informador.mx/basquetbol-t243"
                target="blank">Ir a noticia</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>