<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Quienes Somos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/informatica.jpg"></ion-img>
    <ion-card-title>IN6AV</ion-card-title>
    <p id="p2">
      Somos un grupo de jóvenes que estamos trabajando en un proyecto llamado
      "All_on_Sports" en este momento estamos cursando el grado de sexto perito
      en informatica y nos hemos visto en la necesidad de crear una aplicacion la cual
      sea para un publico que le guste el deporte o quiera aprender uno a todas aquellas
      personas deportistas, personas que quieren tener un mejor físico y mejorar su salud.
    </p>
    <br>
    <ion-img src="/assets/app.jpg"></ion-img>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon name="home"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>