<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Vision
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-img src="/assets/VISION-DEPORTIVA.png"></ion-img>
    <ion-card-title>Nosotros</ion-card-title>
    <p id="p2">
      Queremos que nuestra aplicacion llegue a otros paises y que lleguemos hacer
      reconocidos a nivel mundial ya que ayudara a muhcas personas vamos a formar
      ciudadanos aptos, fisca y mentalmente mediante la aplicacion de nuestros planes
      estrategicosde fometo y desarrollo del deporte, la actividad fisica ya la reaccion
      sana tolo lo lograremos con tu apoyo asi vamos a seguir creciendo como empresa
      pues te vamosa brindar el mejor servicio en deportes vamos a tener unas
      instalaciones cada vez mas grandes y así crecer como empresa para que todos
      nuestros usuarios y clientes se sientan bien y seguros con nosotros.
    </p>
    <br>
    <ion-img src="/assets/vision2.jpeg"></ion-img>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="primary" name="home"></ion-icon>
          <ion-label color="primary">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="primary" name="person"></ion-icon>
          <ion-label color="primary">Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="primary" name="log-out"></ion-icon>
          <ion-label color="primary">Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>