<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Aplicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="/assets/ionic.jpg"></ion-img>
    <br>
    <p id="p2">
      La aplicacion es esta diseñada en Ionic para que pueda ser corrida desde un dispositivo
      IOS y Android se inicio en junio de 2019 y fue finalizada en Agosto de 2019.
      Los programas que se han elegidos para la elaboración de este aplicativo son programas de 
      alta gama actualizados y accesibles, los programas elegidos son altamente funcionales 
      fáciles de manejar y de mucha fiabilidad entre estos programas vamos a encontrar.
    </p>
    <p id="p2">• BootsTrap</p>
    <p id="p2">• Angular</p>
    <p id="p2">• Angular Material</p>
    <p id="p2">• NodeJS</p>
    <p id="p2">• MongoDB</p>
    <p id="p2">• Visual Code</p>
    <p id="p2">• Git</p>
    <p id="p2">• Firebase</p>
    <br>
    <ion-img src="/assets/ionic2.png"></ion-img>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="tertiary" name="home"></ion-icon>
          <ion-label color="tertiary">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="tertiary" name="person"></ion-icon>
          <ion-label color="tertiary">Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>