<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dieta 4
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" style="color: #10dc60">Dieta 4</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <ion-img src="/assets/semana4.jpeg"></ion-img>
          <br>
          <ion-title class="title">Dieta Hollywoodense</ion-title>
          <br>
          <p>O dieta hiperproteica o dieta de Atkins, es un sistema de alimentación bajo en carbohidratos e hiperproteica creado
            por el cardiólogo Robert Atkins.</p>
          <ion-title class="title">La esencia de la dieta</ion-title>
          <br>
          <p>La dieta se basa en reducir la ración de carbohidratos y el consumo de una enorme cantidad de proteínas. Estos son
            los productos que se permiten: huevos, carne de ave sin piel, tipos de pescado bajos en grasa, mariscos, productos
            lácteos fermentados sin grasa, tipos de quesos duros y tofu. Frutas, azúcar, legumbres, cereales, nueces, pasta, panes
            dulces y alcohol al principio se excluyen por completo, pero después, algunos productos vuelven. Al mismo tiempo,
            incluso sin ellos, no tendrás que tener hambre, porque la comida rica en proteínas es prácticamente ilimitada.
            Finalmente, debido a la deficiencia de carbohidratos, el organismo tiene que agregar energía por parte de las
            acumulaciones de grasa y ocurre la disminución de peso.</p>
          <ion-title class="title1">Posibles efectos negativos</ion-title>
          <br>
          <p>Se tiene que tener mucho cuidado al pasar a esta dieta, ya que el predominio de productos proteicos no es una
            alimentación equilibrada y la disminución drástica de carbohidratos puede causar dolores de cabeza, fatiga, mareos y
            estreñimiento. Al mantener la dieta de Atkins, es importante reponer los microelementos que hacen falta tomando
            vitaminas. Además, se prohíbe esta dieta al tener enfermedades, por ejemplo, diabetes. Por eso, antes de pasar a este
            tipo de alimentación es mejor consultar con tu médico.</p>
        </div>
        <div class="card-body">
          <ion-button routerLink="/dietaTres" color="success">Regresar</ion-button>
          <ion-button routerLink="/dietaCinco" color="success">Siguiente</ion-button>
        </div>
      </div>

</ion-content>

<!--
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="success" name="home"></ion-icon>
          <ion-label color="success">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="success" name="person"></ion-icon>
          <ion-label color="success" >Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="success" name="log-out"></ion-icon>
          <ion-label color="success" >Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>-->