<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <br>
    <br>
    <br>
    <ion-card>
      <ion-item routerLink="/abdomen">
        <ion-icon style="zoom:1.5;" slot="end" color="secondary" name="man"></ion-icon>
        <ion-label class="aa">Abdomen</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item routerLink="/pierna">
        <ion-icon style="zoom:1.5;" slot="end" color="secondary" name="walk"></ion-icon>
        <ion-label class="aa">Pierna</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item routerLink="/brazo">
        <ion-icon style="zoom:1.5;" slot="end" color="secondary" name="body"></ion-icon>
        <ion-label class="aa">Brazo</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item routerLink="/cardio">
        <ion-icon style="zoom:1.5;" slot="end" color="secondary" name="heart"></ion-icon>
        <ion-label class="aa">Cardio</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item routerLink="/calentamiento">
        <ion-icon style="zoom:1.5;" slot="end" color="secondary" name="pulse"></ion-icon>
        <ion-label class="aa">Calentamiento</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="secondary" name="home"></ion-icon>
          <ion-label color="secondary">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="secondary" name="person"></ion-icon>
          <ion-label color="secondary" >Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="secondary" name="log-out"></ion-icon>
          <ion-label color="secondary" >Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>