<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <br>
    <ion-list-header>
      <ion-label class="label">Tipo de Ejercicio </ion-label>
    </ion-list-header>
    <ion-card>
      <br>
      <ion-label style="color: rgb(10, 5, 85)">Tu decides que trabajar porfavor elije una opcion</ion-label>
      <br>
      <ion-item routerLink="/abdomen">
        <ion-icon slot="start" color="medium" name="happy"></ion-icon>
        <ion-label>Abdomen</ion-label>
      </ion-item>
      <ion-item routerLink="/pierna">
        <ion-icon slot="start" color="medium" name="hand"></ion-icon>
        <ion-label>Pierna</ion-label>
      </ion-item>
      <ion-item routerLink="/brazo">
        <ion-icon slot="start" color="medium" name="hammer"></ion-icon>
        <ion-label>Brazo</ion-label>
      </ion-item>
      <ion-item routerLink="/cardio">
        <ion-icon slot="start" color="medium" name="heart"></ion-icon>
        <ion-label>Cardio</ion-label>
      </ion-item>
      <ion-item routerLink="/calentamiento">
        <ion-icon slot="start" color="medium" name="phone-portrait"></ion-icon>
        <ion-label>Calentamiento</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list lines="none">
    <ion-item routerLink="/principal" style="color: rgb(34, 179, 5)">
      <ion-icon slot="start" color="medium" name="arrow-round-back"></ion-icon>
      <ion-label>Regresar</ion-label>
    </ion-item>
  </ion-list>

</ion-content>