<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <br>
    <ion-list-header>
      <ion-label class="label">Tipo de Ejercicio </ion-label>
    </ion-list-header>
      <br>
      <ion-item routerLink="/abdomen">
        <ion-icon slot="start" color="medium" name="man"></ion-icon>
        <ion-label>Abdomen</ion-label>
      </ion-item>
      <ion-item routerLink="/pierna">
        <ion-icon slot="start" color="medium" name="walk"></ion-icon>
        <ion-label>Pierna</ion-label>
      </ion-item>
      <ion-item routerLink="/brazo">
        <ion-icon slot="start" color="medium" name="body"></ion-icon>
        <ion-label>Brazo</ion-label>
      </ion-item>
      <ion-item routerLink="/cardio">
        <ion-icon slot="start" color="medium" name="heart"></ion-icon>
        <ion-label>Cardio</ion-label>
      </ion-item>
      <ion-item routerLink="/calentamiento">
        <ion-icon slot="start" color="medium" name="pulse"></ion-icon>
        <ion-label>Calentamiento</ion-label>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon name="home"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>