.label{
    font-size: 32px;
    font-family: fantasy;
    color: black;
    text-align: center;
}

.ion-list-header{
    color: red;
}

.title{
    color: rgb(11, 216, 243);
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
}

.aa{
    color: red;
    font-family: fantasy;
    font-size: 40px;
}

.ion-icon{
    font-size: 30px;
}
