<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Calentamiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="align-content: center">
  <ion-card>
    <ion-title class="title">Principiante</ion-title>
    <br>
   <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mHP_rcA0xEc" allowfullscreen></iframe>
</div>
    <!--video-->
  </ion-card>
  <ion-card>
    <br>
    <ion-title class="title">Intermedio</ion-title>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2r5tfyFR7z0" allowfullscreen></iframe>
    </div>
    <!--video-->
  </ion-card>
  <ion-card>
    <br>
    <ion-title class="title">Avanzado</ion-title>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r5rcX60zefQ" allowfullscreen></iframe>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/list">
          <ion-icon name="body"></ion-icon>
          <ion-label>Ejercicios</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>