<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Dieta 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" style="color: #10dc60">Dieta 2</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <ion-img src="/assets/semana2.jpeg"></ion-img>
          <br>
          <ion-title class="title">Dieta Perricone</ion-title>
          <br>
          <p>La dieta del nutriólogo y dermatólogo estadounidense Nicholas Perricone no solo es capaz de ponerte en buena forma,
            sino que también tiene efectos positivos para la piel debido al consumo abundante de pescados ricos en grasas, lo que
            finalmente ralentiza el envejecimiento.</p>
          <ion-title class="title">La esencia de la dieta</ion-title>
          <br>
          <p>Se permite el consumo de una gran cantidad de pescado, todo tipo de proteína, verduras y frutas. Se excluyen
            necesariamente toda clase de salsas y adobos, dulces, alcohol y panes. Es necesario consumir productos en un orden
            preciso y determinado: al principio, la comida con proteína; a continuación, aquella que tenga mucha fibra, y solo al
            final, productos ricos en carbohidratos (en forma de frutas). Este orden permite ralentizar la asimilación del azúcar
            cuyo incremento brusco normalmente causa la acumulación de grasas. Puedes probar el método durante 3 días y, si es
            cómodo para ti, prolongarlo hasta 1 mes.</p>
          <ion-title class="title1">Posibles efectos negativos</ion-title>
          <br>
          <p>No tiene contraindicaciones.</p>
        </div>
        <div class="card-body">
          <ion-button routerLink="/dietasConsejos" color="success">Regresar</ion-button>
          <ion-button routerLink="/dietaTres" color="success">Siguiente</ion-button>
        </div>
      </div>  

</ion-content>
<!--
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="success" name="home"></ion-icon>
          <ion-label color="success">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="success" name="person"></ion-icon>
          <ion-label color="success" >Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon color="success" name="log-out"></ion-icon>
          <ion-label color="success" >Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>-->