<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Ventas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button routerLink="/principal">
            <ion-icon color="warning" name="home"></ion-icon>
            <ion-label color="warning">Principal</ion-label>
          </ion-tab-button>
  
          <ion-tab-button routerLink="/perfil">
            <ion-icon color="warning" name="person"></ion-icon>
            <ion-label color="warning">Perfil</ion-label>
          </ion-tab-button>
  
          <ion-tab-button routerLink="/home">
            <ion-icon color="warning" name="log-out"></ion-icon>
            <ion-label color="warning">Cerrar Sesion</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>