<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dieta 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" style="color: #10dc60">Dieta 1</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ion-img src="/assets/semana1.jpeg"></ion-img>
      <br>
      <ion-title class="title">Dieta Cetogénica</ion-title>
      <br>
      <p>La dieta cetogénica es algo contrario al concepto habitual de adelgazamiento, ya que, por lo
        general, nosotros de una manera drástica, considerable y prolongada reducimos la cantidad de calorías, grasas o
        limitamos el consumo de determinados productos. Los creadores de este tipo de alimentación, por el contrario,
        confirman que tales métodos simplemente sorprenden al organismo, llevándolo a un modo de ahorro de energía y
        ralentizan el metabolismo.</p>
      <ion-title class="title">La esencia de la dieta</ion-title>
      <br>
      <p>La dieta cetogénica supone una alternancia entre los hábitos alimenticios de altas y bajas calorías. Así, los
        científicos australianos creen que una dieta prolongada da lugar a una termogénesis adaptativa. Esto significa
        que el organismo, al reaccionar al hambre, ralentiza los procesos metabólicos y reacciones para sobrevivir. Una
        dieta discontinua, por el contrario, permite evitar el lanzamiento de la termogénesis debido a que el organismo
        constantemente se encuentra en un modo de quema de calorías activa. Dos semanas se consideran una pausa perfecta
        o puedes utilizar el siguiente principio: de lunes a miércoles son los días de dieta estricta, cuando el nivel
        habitual de calorías se reduce en un 30-40 por ciento; de jueves a sábado son días de “carga” cuando, por el
        contrario, las calorías aumentan más allá de la norma. El domingo es un día provisional.</p>
      <ion-title class="title1">Posibles efectos negativos</ion-title>
      <br>
      <p>Las actividades físicas intensas y de cardio ejecutadas al tener el un bajo nivel de glucosa están
        contraindicadas a las personas con enfermedades cardiovasculares. Además, la dieta no es recomendable para
        personas que padezcan de enfermedades relacionadas con los riñones, hígado y tracto gastrointestinal.</p>
    </div>
    <div class="card-body">
        <ion-button routerLink="/dietaDos" color="success">Siguiente</ion-button>
    </div>
  </div>  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon color="success" name="home"></ion-icon>
          <ion-label color="success">Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon color="success" name="person"></ion-icon>
          <ion-label color="success" >Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>