<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dietas y Consejos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" style="color: #10dc60">Dieta 1</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ion-img src="/assets/semana1.jpeg"></ion-img>
      <br>
      <ion-title class="title">Dieta Cetogénica</ion-title>
      <br>
      <p>La dieta cetogénica es algo contrario al concepto habitual de adelgazamiento, ya que, por lo
        general, nosotros de una manera drástica, considerable y prolongada reducimos la cantidad de calorías, grasas o
        limitamos el consumo de determinados productos. Los creadores de este tipo de alimentación, por el contrario,
        confirman que tales métodos simplemente sorprenden al organismo, llevándolo a un modo de ahorro de energía y
        ralentizan el metabolismo.</p>
      <ion-title class="title">La esencia de la dieta</ion-title>
      <br>
      <p>La dieta cetogénica supone una alternancia entre los hábitos alimenticios de altas y bajas calorías. Así, los
        científicos australianos creen que una dieta prolongada da lugar a una termogénesis adaptativa. Esto significa
        que el organismo, al reaccionar al hambre, ralentiza los procesos metabólicos y reacciones para sobrevivir. Una
        dieta discontinua, por el contrario, permite evitar el lanzamiento de la termogénesis debido a que el organismo
        constantemente se encuentra en un modo de quema de calorías activa. Dos semanas se consideran una pausa perfecta
        o puedes utilizar el siguiente principio: de lunes a miércoles son los días de dieta estricta, cuando el nivel
        habitual de calorías se reduce en un 30-40 por ciento; de jueves a sábado son días de “carga” cuando, por el
        contrario, las calorías aumentan más allá de la norma. El domingo es un día provisional.</p>
      <ion-title class="title1">Posibles efectos negativos</ion-title>
      <br>
      <p>Las actividades físicas intensas y de cardio ejecutadas al tener el un bajo nivel de glucosa están
        contraindicadas a las personas con enfermedades cardiovasculares. Además, la dieta no es recomendable para
        personas que padezcan de enfermedades relacionadas con los riñones, hígado y tracto gastrointestinal.</p>
      <a href="#" class="btn btn-primary">Meta</a>
    </div>
  </div>
  
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" style="color: #10dc60">Dieta 2</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ion-img src="/assets/semana2.jpeg"></ion-img>
        <br>
        <ion-title class="title">Dieta Perricone</ion-title>
        <br>
        <p>La dieta del nutriólogo y dermatólogo estadounidense Nicholas Perricone no solo es capaz de ponerte en buena forma,
          sino que también tiene efectos positivos para la piel debido al consumo abundante de pescados ricos en grasas, lo que
          finalmente ralentiza el envejecimiento.</p>
        <ion-title class="title">La esencia de la dieta</ion-title>
        <br>
        <p>Se permite el consumo de una gran cantidad de pescado, todo tipo de proteína, verduras y frutas. Se excluyen
          necesariamente toda clase de salsas y adobos, dulces, alcohol y panes. Es necesario consumir productos en un orden
          preciso y determinado: al principio, la comida con proteína; a continuación, aquella que tenga mucha fibra, y solo al
          final, productos ricos en carbohidratos (en forma de frutas). Este orden permite ralentizar la asimilación del azúcar
          cuyo incremento brusco normalmente causa la acumulación de grasas. Puedes probar el método durante 3 días y, si es
          cómodo para ti, prolongarlo hasta 1 mes.</p>
        <ion-title class="title1">Posibles efectos negativos</ion-title>
        <br>
        <p>No tiene contraindicaciones.</p>
        <a href="#" class="btn btn-primary">Meta</a>
      </div>
    </div>
  
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" style="color: #10dc60">Dieta 3</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ion-img src="/assets/semana3.jpeg"></ion-img>
        <br>
        <ion-title class="title">Dieta Paleo</ion-title>
        <br>
        <p>Otra variante al nombre de esta alimentación es la dieta del hombre de las cavernas. Fue inventada por el nutriólogo
          estadounidense Loren Cordain. Su alimentación está basada en aquella que fue normal para nuestros antepasados y ellos,
          como es bien sabido, obtenían alimentos mediante la caza y la recolección de todos los posibles productos de origen
          vegetal.</p>
        <ion-title class="title">La esencia de la dieta</ion-title>
        <br>
        <p>Al mantener dicha alimentación, se tiene que hacer hincapié en el consumo de carne de caza o animales domésticos de
          engorde natural, también todo tipo de verduras y frutas, nueces, miel, bayas, hongos y pescado. Al mismo tiempo, se
          tienen que rechazar los productos creados mediante algún tipo de producción humana, como lo son los lácteos, cereales,
          azúcar, sal, aceites refinados, diferentes tipos de dulces, entre otros. De acuerdo con la visión de Loren,
          precisamente estos productos son las causas de los problemas de salud, así contradicen la estructura genética del ser
          humano. Los estudios realizados acerca de esta cuestión confirman la eficacia de dieta paleo para bajar de peso.</p>
        <ion-title class="title1">Posibles efectos negativos</ion-title>
        <br>
        <p>El rechazo a los productos lácteos, legumbres y cereales puede dar lugar a la escasez de calcio, hierro, magnesio, y
          un exceso de carne y grasas saturadas puede causar problemas en el sistema cardiovascular. Esta teoría con tal estilo
          de alimentación es una cuestión bastante discutible. Por eso es adecuada para seguir como dieta a corto plazo, sin
          embargo, no se recomienda llevar como estilo de vida.</p>
        <a href="#" class="btn btn-primary">Meta</a>
      </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" style="color: #10dc60">Dieta 4</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <ion-img src="/assets/semana4.jpeg"></ion-img>
          <br>
          <ion-title class="title">Dieta Hollywoodense</ion-title>
          <br>
          <p>O dieta hiperproteica o dieta de Atkins, es un sistema de alimentación bajo en carbohidratos e hiperproteica creado
            por el cardiólogo Robert Atkins.</p>
          <ion-title class="title">La esencia de la dieta</ion-title>
          <br>
          <p>La dieta se basa en reducir la ración de carbohidratos y el consumo de una enorme cantidad de proteínas. Estos son
            los productos que se permiten: huevos, carne de ave sin piel, tipos de pescado bajos en grasa, mariscos, productos
            lácteos fermentados sin grasa, tipos de quesos duros y tofu. Frutas, azúcar, legumbres, cereales, nueces, pasta, panes
            dulces y alcohol al principio se excluyen por completo, pero después, algunos productos vuelven. Al mismo tiempo,
            incluso sin ellos, no tendrás que tener hambre, porque la comida rica en proteínas es prácticamente ilimitada.
            Finalmente, debido a la deficiencia de carbohidratos, el organismo tiene que agregar energía por parte de las
            acumulaciones de grasa y ocurre la disminución de peso.</p>
          <ion-title class="title1">Posibles efectos negativos</ion-title>
          <br>
          <p>Se tiene que tener mucho cuidado al pasar a esta dieta, ya que el predominio de productos proteicos no es una
            alimentación equilibrada y la disminución drástica de carbohidratos puede causar dolores de cabeza, fatiga, mareos y
            estreñimiento. Al mantener la dieta de Atkins, es importante reponer los microelementos que hacen falta tomando
            vitaminas. Además, se prohíbe esta dieta al tener enfermedades, por ejemplo, diabetes. Por eso, antes de pasar a este
            tipo de alimentación es mejor consultar con tu médico.</p>
          <a href="#" class="btn btn-primary">Meta</a>
        </div>
      </div>

      <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" style="color: #10dc60">Dieta 5</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <ion-img src="/assets/semana5.jpeg"></ion-img>
            <br>
            <ion-title class="title">Dieta Ornish</ion-title>
            <br>
            <p>Dean Ornish es un profesor de la Universidad de California, fundador de la medicina preventiva, cardiólogo y
              nutriólogo personal de Bill Clinton. Su dieta es baja en grasas y alta en carbohidratos, esta no solo ayuda a
              adelgazar, sino también ofrece efectos positivos en el sistema cardiovascular, reduciendo la presión sanguínea y el
              nivel de colesterol.</p>
            <ion-title class="title">La esencia de la dieta</ion-title>
            <br>
            <p>De acuerdo con tal método, la clave consiste en que la grasa debe de ocupar menos del 10 por ciento en la ración.
              Desde el punto de vista de indicadores habituales para muchas personas, la proporción de carbohidratos, grasas y
              proteínas recomendada por Ornish es bastante polémica: las grasas, como ya se había indicado, ocupan el 10 por ciento,
              las proteínas de 15 a 20 por ciento y la cantidad adecuada de carbohidratos es de 70 a 75 por ciento. Se excluye el
              alcohol, todas las fuentes de cafeína, aguacate, aceite y todo tipo de nueces y dulces. En cualquier cantidad se puede
              comer frijol y legumbres, cereales, frutas y verduras. Se restringen los productos de origen animal, pero aquí hay una
              excepción, supongamos que se puede comer un poco de carne de pollo, sin embargo, claramente se tiene que dar
              preferencia a un tipo de carne con poca grasa.
              La comunidad médica recomienda la dieta de Ornish y reconoce todos los efectos positivos que influyen en el organismo.
              La eficacia de la dieta es confirmada por las propias observaciones de Dean, publicadas en la revista Journal of the
              American Medical Association, tanto como por investigaciones ajenas, por ejemplo, la validación de los científicos de
              la Universidad Stanford en el 2007.</p>
            <ion-title class="title1">Posibles efectos negativos</ion-title>
            <br>
            <p>Como en el caso de cualquier dieta, dicho plan de alimentación también ha sido objeto de dudas y escepticismo. Por
              ejemplo, al organizar de una manera incorrecta la dieta, se puede provocar un déficit de proteínas, vitamina B12 y
              otras sustancias beneficiosas. De todos modos, la práctica de más de 40 años de tratamiento dietético ha demostrado
              que el estilo de vida formado por Ornish es efectivo y beneficioso.</p>
            <a href="#" class="btn btn-primary">Meta</a>
          </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" style="color: #10dc60">Dieta 6</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <ion-img src="/assets/semana6.jpeg"></ion-img>
              <br>
              <ion-title class="title">Dieta Volumétrica</ion-title>
              <br>
              <p>Esta dieta fue desarrollado por la profesora de la Universidad de Pensilvania, Barbara J. Rolls. Su idea fundamental
                consiste en el hecho de que, para adelgazar, no se necesita preocuparse por pequeñas porciones, sino, por el
                contrario, se necesita comer más.</p>
              <ion-title class="title">La esencia de la dieta</ion-title>
              <br>
              <p>Rolls considera que para adelgazar se debe tener en cuenta una reducción en la cantidad de calorías, pero de ninguna
                manera reducir las raciones. Al mismo tiempo no tienes que prohibirte por completo tu comida chatarra favorita. El
                truco está en que, antes de un alimento rico en calorías, debes consumir uno bajo en calorías, como lo son las
                verduras, sopas, guisos, licuados, entre otros. De tal manera, al momento de la culminación de la comida, en el
                estómago no quedará lugar para dejar como “postre” un alimento grasoso o perjudicial. La validez de este sistema es
                confirmado por investigaciones, las cuales mostraron que la reducción de calorías y la densidad en la dieta no
                solamente ayudan a bajar de peso sin dolor y enseñar a gestionar tu hambre, sino también es capaz de mantener una masa
                corporal adecuada para la norma.</p>
              <ion-title class="title1">Posibles efectos negativos</ion-title>
              <br>
              <p>No tiene contraindicaciones.</p>
              <a class="btn btn-primary" type="button">Meta</a>
            </div>
          </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/principal">
          <ion-icon name="home"></ion-icon>
          <ion-label>Principal</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/home">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>